{% extends "cms/base.html" %}
{% load static %}
{% block title %}
Visual Builder
{% endblock %}

{% block content %}

<div class="builder-container">

    {% include "builder/partials/toolbar.html" %}

    <div class="builder-workspace">

        {% include "builder/partials/sidebar.html" %}

        {% include "builder/partials/canvas.html" %}

        {% include "builder/partials/inspector.html" %}

    </div>

</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'builder/js/builder.js' %}"></script>
{% endblock %}
