<aside class="cms-sidebar">

    <div class="sidebar-logo">

        <h3>Iason CMS</h3>

    </div>

    <nav>

        <ul class="list-unstyled">

            <li>

                <a href="{% url 'cms_dashboard' %}">

                    <i class="bi bi-speedometer2"></i>

                    Dashboard

                </a>

            </li>

            {% for category, modules in cms_sidebar.items %}

                <li class="mt-4 text-uppercase text-secondary small">

                    {{ category }}

                </li>

                {% for module in modules %}

                    {% if module.url %}

                        <li>

                            <a href="{{ module.url }}">

                                {% if module.icon %}
                                    <i class="{{ module.icon }}"></i>
                                {% endif %}

                                {{ module.title }}

                            </a>

                        </li>

                    {% endif %}

                {% endfor %}

            {% endfor %}

        </ul>

    </nav>

</aside>